@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list {
  /* background: #fff url('./ajax-loader.gif') center center no-repeat; */
}
/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  /* src: url('./fonts/slick.eot'); */
  /* src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg'); */
}
/* Arrows */
.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: .25;
}
.slick-prev:before {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 22px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #d3d3d3;
}
.slick-prev:after {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 40px;
  width: 10px;
  height: 10px;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  transform: rotate(45deg);
}
.slick-next:before {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 22px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #d3d3d3;
}
.slick-next:after {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 10px;
  height: 10px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg);
}
.slick-next:hover:before {
  background: #65b9e7;
}
.slick-prev:hover:before {
  background: #65b9e7;
}
.slick-prev {
  left: -25px;
}
[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: '←';
}
[dir='rtl'] .slick-prev:before {
  content: '→';
}
.slick-next {
  right: -25px;
}
[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: '→';
}
[dir='rtl'] .slick-next:before {
  content: '←';
}
/* Dots */
.slick-dotted.slick-slider /*{
    margin-bottom: 30px;
}*/
.slick-dots {
  position: relative;
  /*bottom: -25px;*/
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 10px;
  /*line-height: 50px;*/
  position: absolute;
  top: 0;
  left: 0;
  /*width: 50px;
    height: 50px;*/
  content: '•';
  text-align: center;
  opacity: .2;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #65b9e7;
}
/*-----追加-----*/
/*.arrows_area {
    position: absolute;
    height: 150px;
    display: flex;
    width:auto;
    align-items: center;
    left:7%;
}

.arrows {
    position: relative;
    
}

.arrows .slick-dots {
    bottom: 7px;
    display: flex;
    width:auto;
}

.arrows .slick-prev:before {
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #d3d3d3;
}

.arrows .slick-prev:after {
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 18px;
    width: 10px;
    height: 10px;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    transform: rotate(45deg);
}

.arrows .slick-next:before {
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 208px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #d3d3d3;
}
.arrows .slick-next:after {
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 226px;
    width: 10px;
    height: 10px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
}*/
.arrows, .arrows2 {
  display: flex;
  align-items: center;
  position: relative;
  top: 8rem;
  left: 5rem;
  height: 1rem;
}
.arrows3 {
  display: flex;
  align-items: center;
  position: relative;
  top: 1rem;
  left: 5rem;
  height: 1rem;
}
.prev-arrow, .next-arrow {
  display: block;
  width: 50px;
  height: 50px;
  background: #d3d3d3;
  border-radius: 50%;
  transition: all .3s ease;
  cursor: pointer;
  position: relative;
}
.prev-arrow {
  transform: rotate(180deg);
  margin-right: 1rem;
}
.next-arrow {
  margin-left: 1rem;
}
.prev-arrow::before, .next-arrow::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-right: 3px solid #FFF;
  border-top: 3px solid #FFF;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: rotate(45deg);
}
@media (max-width: 768px) {
  .arrows, .arrows2, .arrows3 {
    display: flex;
    justify-content: center;
    left: auto;
  }
  .arrows3 {
    margin-top: 2rem;
  }
}